.ba-section-intro {
  padding-top: 60px;
  background-image: url(assets/img/intro_bg.jpg);

  @include breakpoint(medium) {
    padding-top: 222px;
    padding-bottom: 27px;
    background: url(../img/intro_bg.jpg) 50%;
    background-size: cover;
  }

  .ba-button {
    margin-bottom: 8px;
  }
  h1 {
    font-size: 34px;
    color: #fff;
    @include breakpoint(medium) {
      font-size: 60px;
      color: currentColor;
      margin-bottom: 1px;
    }
  }
  .ba-subtitle {
    font-size: 14px;
    padding: 0 39px;
    @include breakpoint(medium) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 21px;
    }
  }

  .ba-big-logo {
    margin-bottom: 7px;
  }
  .ba-heady {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
  }
  .ba-form {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    .ba-inp {
      margin-bottom: 0;
    }
  }
  .ba-intro-logo-heady {
    margin-right: 15px;
  }
  .ba-btn-main {
    position: relative;
    right: 20px;
  }
  .ba-btn-margin {
    margin-bottom: 55px;
  }
  @include breakpoint(small only) {
    color: #fff;
  }
}
//sell section
.ed-section-bg-gradient {
  @include breakpoint(medium) {
    background: linear-gradient(360deg, #4d5063 0%, #1f2533 96.6%);
  }
}
.ba-section-sell {
  padding-top: 25px;
  padding-bottom: 10px;
  color: #fff;

  @include breakpoint(medium) {
    padding-top: 75px;
    padding-bottom: 50px;
  }
  h2 {
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.2;
    @include breakpoint(small only) {
      font-size: 20px;
    }
  }
}
h4 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}
.ba-card {
  max-width: 382px;
  img {
    width: 382px;
    flex-grow: 1;
  }
  .ba-restoraunt-info {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .ba-product {
    margin-bottom: 21px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
  }
  .ba-intro-bin {
    letter-spacing: 1px;
    margin-left: 8px;
    color: $primary-color;
    font-size: 14px;
    text-transform: uppercase;
  }
  &__desc {
    padding-bottom: 15px;
    padding-top: 20px;
    padding-left: 18px;
    padding-right: 18px;
    display: block;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    @include breakpoint(medium-down) {
    }
  }
}
.ba-scroll {
  margin-top: 27px;
}

.ba-cards {
  .ba-card {
    margin-bottom: 25px;
  }
}

.ed-section--delivery {
  padding: 0 0 66px;

  @include breakpoint(medium) {
    padding: 0 0 72px;
  }

  .ed-text-color--white {
    color: #fff;
  }

  h2 {
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.15px;
    margin-bottom: 27px;

    @include breakpoint(medium) {
      font-size: 34px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0.25px;
      margin-bottom: 17px;
    }
  }
}

.ed-delivery__subscribe {
  line-height: 28px;
  max-width: 244px;
  margin: 0 auto 18px;

  @include breakpoint(medium) {
    max-width: none;
    margin: 0 auto 43px;
  }
}

.ed-delivery__map {
  height: 410px;
  margin-bottom: 32px;

  @include breakpoint(medium) {
    height: 373px;
    margin-bottom: 60px;
  }
}

.ed-delivery__content-bar {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}

.ed-delivery__logo-bar {
  margin-right: 14px;

  @include breakpoint(medium) {
    margin-right: 24px;
  }
}

.ed-delivery__logo {
  line-height: 0;

  &--small {
    display: block;

    @include breakpoint(medium) {
      display: none;
    }
  }

  &--big {
    display: none;

    @include breakpoint(medium) {
      display: block;
    }
  }
}

.ed-delivery__content {
  display: inline-block;
  font-size: 16px;
  max-width: 266px;

  @include breakpoint(medium) {
    max-width: 279px;
  }

  p {
    text-align: left;
    margin: 0;
  }
}

/* Oleg */
