<footer class="ba-footer">


	<div class="row flex-dir-row align-center-middle ba-content-f">
		<div class="ba-tel-f column  medium-4 align-middle ">
			<div class="row flex-dir-column">
				<span>Наши контакты:</span>
				<a href="tel:+0957404950">(095)7404950</a>


			</div>
		</div>

		<div class="ba-logo-f column  medium-4 text-center">
			<img class="ba-logo-f" src="assets/img/group.png" alt="footer-logo" />
		</div>
		<div class="ba-svg-group-f  align-middle culumn  medium-4 text-right">
			<a href="">
				<svg class="ba-svg-head" width="25" height="25">

					<use xlink:href="#footer-viber" />
				</svg>
			</a><a href="">
				<svg class="ba-svg-head" width="30" height="24">

					<use xlink:href="#footer-mail" />
				</svg>
			</a><a href="">
				<svg class="ba-svg-head" width="24" height="24">

					<use xlink:href="#footer-insta" />
				</svg>
			</a>

		</div>
	</div>
	<!-- /.row -->

</footer>
<!-- /.ba-footer -->