<header class="ba-header-wrap ba-header">
	<div class="ba-header-header">
		<div class="row  ba-header-flex align-center-middle">

			<a href="/" class="show-for-medium">
				<img src="{{root}}assets/img/group.png" alt="Logo">
			</a>
			<div class="ba-btn-grow row align-middle">
				<button class="menu-icon dark " type="button" data-open="offCanvas" aria-label="Show menu">
				</button>

			</div>
			<!-- /.column -->

			<div class="row ba-flex">
				<a class=" row align-center-middle" href="">
					<span class="ba-c-name" value="poltava">Полтава</span>
				</a>
				<a>

					<svg width="16" height="23">

						<use xlink:href="#location-icon">
					</svg>

				</a>

				<a>
					<svg width="24" height="24">

						<use xlink:href="#bin-icon">
					</svg></a>

				<a><svg width="21" height="31">

						<use xlink:href="#human-icon">
					</svg></a>
			</div>
		</div>
		<!-- /.row -->
	</div>
</header>